body{
    margin: 0;
    border: 1px;
    background-color: rgba(12, 1, 24, 0.959);
}
.homeHeader{
    display: flex;
    position: relative;
    background-color: black;
    height: 100px;
    padding-left: 25px;
}
img > #name{
    display: flex;
    position: absolute;

}
p, #annaTitle{
    color: white;
    position: absolute;
    margin-top: 80px;
}
.homeTopDiv{
    padding-left: 60px;
    padding-top: 40px;
}
.homeContainer{
    width: 1200px;
    height: 450px;
    display: flex;
    position: relative;
}
#homeAside{
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
    width: 300px;
    height: 400px;
    border: 1px solid #232224;
}
#homeNavigation{
    color: white;
    margin-top: 50px;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
}
#home{
    display: fixed;
    width: 700px;
    height: 500px;
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
}
#image{
    margin-top: 35px;
    padding-left: 60px;
    border-radius: 10px;
    cursor: pointer;
}
#greeting{
    color: white;
    display: inline;
    position: relative;
    justify-content:first baseline;
}
.homeFooter{
    display: flex;
    width: 100%;
    height: 120px;
    background-color: black;
    padding-left: 100px;
    padding-top: 30px;
}

a{
    text-decoration: none;
    color: wheat;
    font-size: large;
}
#searchContent{
    height: 40px;
    width: 400px;
    border-radius: 50px 50px 50px 50px ;
    text-align: center;
    border: 3px solid rgb(253, 124, 3);
    background-color: rgb(250, 249, 249);
    font-size: large;
    margin-top: 40px;
} 
#submitButton{
    height: 45px;
    width: 140px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 5px;
    margin-top: 40px;
}
#display{
    margin: 0;
}

/* ----------- Below this line is about page ------------- */
header#about{
    padding-top: 15px;
    width: 100%;
    height: 30px;
    background-color: rgb(144, 185, 134);
    padding-left: 15px;
}
.a_links{
    color: rgb(43, 28, 2);
    margin: 15px 10px;
    font-size: large;
}
a:hover, #aEmail:hover{
    color: red;
}
.question{
    display: flex;
    position: relative;
    width: 100%;
    background-color: rgb(144, 185, 134);
    padding-top: 30px;
}
#question{
    color: rgb(37, 27, 37);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    padding-left: 50px;
    padding-right: 10px;
}
#options{
    background-color: antiquewhite;
    padding-left: 10px;
    padding-right: 5px;
}
.outerDiv{
    width: 100%;
    height: 400px;
    background-color: rgb(144, 185, 134);
    display: flex;
    position:absolute;
    padding-left: 50px;
    padding-top: 50px;
}
.innerDiv{
    width: 25%;
    height: 300px;
    border: 1px solid rgb(250, 242, 240);  
    margin-left: 10px;
    padding: 10px 10px;
    position: relative;
}
#profession{
    padding-left: 20px;
    display:flexbox;
    background-color: rgb(250, 221, 205);
}
#education{
    background-color: rgb(246, 226, 247);
    padding-left: 20px;
  
}
#certifications{
    background-color: rgb(211, 201, 252);
    padding-left: 20px;
    line-height: 25px;
}
h1#greeting{
    display: block;
    color: white;
    height: 30px;
    padding-left: 20px;
}
#aEmail{
    color: white;
}
address{
    margin-top: 10px;
    line-height: 25px;
}
/* ----------- Below this line is about contacts page ------------- */
body#contacts{
    background-color:rgb(1, 8, 20);
    margin-left: 10%;
    margin-right: 10%;
}
.contactsContainer{
    width: 100%;
    display: grid;
    grid-template-areas:  
    "contactsHeader contactsHeader"
    "contactsMenu contactsContent"
    "contactsFooter contactsFooter";    
    grid-template-columns: 1fr 3fr;    
    background-color: cadetblue;
    gap: 5px;
    padding: 5px;
    justify-content: center;
}
@media (min-height: 500px) {
    .contactsContainer {
      height: 70%; /* Adjust the height */
      
    }
  }
@media (min-width: 601px) {
    .contactsContainer {
      width: 70%; /* Adjust the width */
    }
  }
.contactsContainer > div {
    background-color: rgb(39, 38, 36);
    padding: 5px;
    color: black;
}
.contactsContainer > div.contactsHeader {
    grid-area: contactsHeader;
    text-align: center;
    background-color: azure;
}
.contactsContainer > div.contactsMenu {
    transition: height 0.5s ease; /* Smooth transition over 0.5 seconds */
    width: 98%;
    max-height:100%; 
    min-height: 200px; 
    text-align: center;
    line-height: 30px;
}
.contactsContainer > div.contactsContent {
    height: 300px;
    background-color: azure;
}
.contactsContainer > div.contactsFooter {
    grid-area: contactsFooter;
    background-color: azure;
    padding-left: 30px;
}
#linkinIcon{
    width: 40px;
    padding-left: 30px;
}
#githubIcon{
    width: 45px;
    padding-left: 30px;
    margin-top: 5px;
}
#contactsLabel{
    color: white;
    height: 70px;
    padding-top: 2px;
    background-color: rgb(19, 27, 97);
    padding-left: 40px;
    display: block;
}
.contactsLinks{
    color: black;
    line-height: 30px;
}
img{
    width: 100%;
}
