body{
    margin: 0;
    border: 1px;
    background-color: rgba(12, 1, 24, 0.959);
}
.homeHeader{
    display: flex;
    position: relative;
    background-color: black;
    height: 120px;
    padding-left: 25px;
}
img > #name{
    display: flex;
    position: absolute;

}
p, #annaTitle{
    color: white;
    position: absolute;
    margin-top: 100px;
}
.homeContainer{
    width: 700px;
    height: 500px;
    display: flex;
    position: relative;
}
#homeAside{
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
    width: 200px;
    height: 400px;
    border: 1px solid #232224;
}
#homeNavigation{
    color: white;
    margin-top: 50px;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
}
#home{
    display: fixed;
    width: 400px;
    height: 500px;
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
}
#image{
    margin-top: 35px;
    padding-left: 60px;
    border-radius: 10px;
    cursor: pointer;
}
#greeting{
    color: white;
    display: inline;
    position: relative;
    justify-content:first baseline;
}
.homeFooter{
    width: 100%;
    height: 100px;
    background-color: black;
    padding-left: 20px;
    padding-top: 10px;
}

a{
    text-decoration: none;
    color: wheat;
}
/* ----------- Below this line is about page ------------- */
header#about{
    padding-top: 15px;
    width: 100%;
    height: 30px;
    background-color: rgb(144, 185, 134);
    padding-left: 15px;
}
.a_links{
    color: rgb(43, 28, 2);
    margin: 15px 10px;
}
a:hover, #aEmail:hover{
    color: red;
}
.question{
    display: flex;
    position: relative;
    width: 100%;
    background-color: rgb(144, 185, 134);
    padding-top: 30px;
}
#question{
    color: rgb(37, 27, 37);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    padding-left: 50px;
    padding-right: 10px;
}
#options{
    background-color: antiquewhite;
    padding-left: 10px;
    padding-right: 5px;
}
.outerDiv{
    width: 100%;
    height: 400px;
    background-color: rgb(144, 185, 134);
    display: flex;
    position:absolute;
    padding-left: 50px;
    padding-top: 50px;
}
.innerDiv{
    width: 25%;
    height: 300px;
    border: 1px solid rgb(250, 242, 240);  
    margin-left: 10px;
    padding: 10px 10px;
    position: relative;
}
#profession{
    padding-left: 20px;
    display:flexbox;
    background-color: rgb(250, 221, 205);
}
#education{
    background-color: rgb(246, 226, 247);
    padding-left: 20px;
  
}
#certifications{
    background-color: rgb(211, 201, 252);
    padding-left: 20px;
    line-height: 25px;
}
h1#greeting{
    display: block;
    color: white;
    height: 30px;
    padding-left: 20px;
}
#aEmail{
    color: white;
}
address{
    margin-top: 10px;
    line-height: 25px;
}



  