 html{
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgb(207, 207, 212);
    }
.container {
        width: 100%; /* Adjust the width as needed */
        height:100%;
        padding: 60px;
        background-color: #a4a7ad;
        display: grid;
        grid-template-areas: 
        "banner banner"
        "sideBar content content";
        grid-template-columns: 1fr 2fr; 
        
    }
#banner{ 
    width: 600px;
    height: 100px;
    background-color: azure;
    border: 2px solid rgb(200, 250, 250);
    position: absolute;    
}
#sideBar{
    margin-top: 98px;
    width:  200px;
    height: 350px;
    background-color: rgb(250, 246, 240);
    text-align: left;
    line-height: 35px;
    padding-left: 60px;
    padding-top: 10px;
    
}
#close_icon{
    clear:right;
    font-size: small;
    width:20px;
    cursor: pointer;
    color: black;
    background-color: #f00;
    border-radius: 50%;
    color: white;
    margin-left: 110px;

}
.X{
    font-size: 1.5em;
}
#content{
    width: 400px;
    height: 348px;
    background-color: teal;
    margin-top: 100px;
    display: absolute;
    text-align: left;
    padding-left: 5px;

}
#menu_icon{
    font-weight: 500;
    cursor: pointer;
    color: white;
}

